#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Fastmail
Exec=/opt/Fastmail-linux-x64/Fastmail --ozone-platform=wayland
Icon=fastmail
